/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

label:not(.form-check-label):not(.custom-file-label) {
  color: #333333;
  font-weight: 500;
}
input[type="radio"] {
  width: 16px;
  height: 16px;
  accent-color: #027F71;
}
/* CheckBox Custom */
input[type=checkbox] { 
  accent-color: #027F71; 
  width: 16px; 
  height: 16px;  
}
input[id=cb-th] {
  position: relative;
  top: -0.16em;
  margin-left: 29px;
  vertical-align: middle;
}
.form-control {
  width: 100%;
  border-radius: 8px;
  
}
.form-label-required {
  color: #ff0000;
}
.form-group {
  margin-bottom: 10px;
}
.form-group-loader {
  position: relative;
  &.active {
    .form-control {
      padding-right:12px;
    }
    .input-group-loader {
      display: block;
    }
  }
  .input-group-loader {
    position: absolute;
    right: 15px;
    top: 5px;
    display: none;
  }
}
.form-control:disabled,
.form-control[readonly] {
  background-color: hsl(0, 0%, 95%);
  border-color: hsl(0, 0%, 90%);
}
.react-select {
  cursor: pointer;
  div,
  span {
    cursor: pointer;
  }
  > div {
    border-radius: 8px;
  }
  &.is-invalid {
    > div {
      border: 1px solid #dc3545;
    }
  }
}
.invalid-feedback {
  &:before {
    display: none;
  }
}
.invalid-feedback-custom {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.custom-select {
  background: #fff url("../../assets/icons/arrow-down.svg") right 0.75rem center/8px 10px no-repeat;
}
