/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

label:not(.form-check-label):not(.custom-file-label) {
  color: #333333;
  font-weight: 500;
}
input[type="radio"] {
  width: 16px;
  height: 16px;
}
.form-control {
  max-width: 250px;
  border-radius: 8px;
}
.form-label-required {
  color: #ff0000;
}
.form-group {
  margin-bottom: 10px;
}
.form-group-loader {
  position: relative;
  &.active {
    .form-control {
      padding-right: 40px;
    }
    .input-group-loader {
      display: block;
    }
  }
  .input-group-loader {
    position: absolute;
    right: 15px;
    top: 5px;
    display: none;
  }
}
.form-control:disabled,
.form-control[readonly] {
  background-color: hsl(0, 0%, 95%);
  border-color: hsl(0, 0%, 90%);
}
.react-select {
  cursor: pointer;
  div,
  span {
    cursor: pointer;
  }
  > div {
    border-radius: 8px;
  }
  &.is-invalid {
    > div {
      border: 1px solid #dc3545;
    }
  }
}
.invalid-feedback {
  &:before {
    display: none;
  }
}
