.rst__rowContents {
    max-width: 400px;
	padding-left: 0px !important;
}
.hie-ic {
	border-right: solid #bbb 1px;
	padding: 12px;
	margin-right: 10px;
	background-color: #FFFFCF;
    color: #BFBFBF;
}