.img-profile-wrapper {
  display: flex;
  justify-content: flex-end;
  .btn {
    margin: 10px auto 0;
  }
  .img-profile {
    width: 125px;
    height: 125px;
  }
  .img-error-label {
    font-size: 12px;
    margin: 5px 0 0 0;
    color: #e84d0e;
  }
}
