.modal-form {
  .modal-close {
    cursor: pointer;
  }
  .modal-title {
    line-height: inherit;
    font-size: 20px;
    text-align: center;
    flex: 1;
    margin-top: 15px;
  }
  .modal-header {
    padding: 15px 20px 0 20px;
  }
  .modal-header,
  .modal-footer {
    border: none;
  }
  .modal-body {
    padding: 20px 40px;
    .form-label {
      font-size: 15px;
    }
  }
  .modal-footer {
    justify-content: flex-start;
    padding: 0 40px 20px;
    .btn {
      &:first-child {
        margin: 0 16px 0 0;
      }
    }
  }
  .modal-lg {
    max-width: 500px;
  }
}
.modal-button-close{
  position: relative;
  float: right; 
  top: -20px;
  right: -2px;
}
.modals-header{
  font-weight: 600;
  text-align: center;  
  letter-spacing: 1.2px;
  color: #333333;
  text-transform: uppercase;
  opacity: 1;
}
.button-override{
  background-color: #F3C244 !important;  
  border: 1px solid #F3C244 !important;
  padding: 5px !important;
  color: #333333 !important;
  padding-left: 15px !important;  
  padding-right: 15px !important; 
  border-radius: 8px !important; 
}

.modal-50w {
  min-width: 50%;
}