.nav-tabs .nav-link.active {

    background-color: #fff !important;
    border-top: 5px solid #FDC300 !important;
    box-shadow: 2px 6px 6px #00000029 !important;
    color: #31394d !important;
    font-weight: bold !important;

    @media (max-width: 480px) {
        margin-top: 12px !important;
        border: 3px solid #FDC300 !important;
        border-radius: 80px;
        width: 80px !important;
        height: 80px !important;
        box-shadow: none !important;
        color: #027F71 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.card-header-tabs {
    margin-right: 0;
    margin-left: 0;
}
.tabs-text {
    text-transform: uppercase;
}

@media (max-width: 480px) {
    .tabs-icon {
        padding-left: 24px !important;
        padding-right: 24px !important;
        font-size: 20px;
    }

    .tabs-text {
        padding-left: 16px !important;
        padding-right: 0px !important;
        font-weight: 700 !important;
        font-size: 14px !important;
    }
}




.nav-tabs .nav-link {
    color: #818181 !important;
    padding-left: 24px !important;
    padding-right: 24px !important;

    @media (max-width: 480px) {
        margin-top: 12px !important;
        background-color: #F0F1F3 !important;
        border-radius: 80px;
        width: 80px !important;
        height: 80px !important;
        box-shadow: none !important;
        color: #818181 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.active > .fee-tabs-title{
    color: #027F71 !important;
    font-weight: bold;
}

.nav-tabs .nav-link:hover {
    color: #818181 !important;

    @media (max-width: 480px) {
        margin-top: 12px !important;
        color: #027F71 !important;
    }
}


.nav-tabs {
    border-bottom: none !important;
    background-color: #F5F5F5 !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    @media (max-width: 480px) {
        border-bottom: none !important;
        background-color: #fff !important;
        display: flex !important;
        justify-content: space-around !important;
    }
}