.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #333333 !important;    
    background-color: #fff !important;  
    border-top :4px solid  #FDC300  !important;    
}
.nav-tabs {    
    border-bottom: none !important;
    background-color: #F5F5F5 !important;    
}
.nav-tabs .nav-link{
    color: gray !important;    
    padding-left: 24px !important;
    padding-right: 24px !important;
}
.nav-tabs .nav-link:hover{
    color: gray !important;
}
.tabcontent{
    background-color: lawngreen;
}