@media (max-width:480px) {
    .employee-form {
        display: none;
    }
    .mobile-form {
        display: block;
    }
}

@media (min-width:481px) {
    .employee-form {
        display: block;
    }
    .mobile-form {
        display: none;
    }
}

.icon-active path {
    fill: #038072;
}

.icon-grey path {
    fill: #b7b7b7
}