.image-wrapper {
  margin-bottom: 15px;
}

.input-image {
  width: 0;
  height: 0;
  padding: 0;
  border: none;
}

.media-title {
  text-align: left;
  font: normal normal normal 1em "Segoe UI";
  letter-spacing: 0px;
  color: #333333;
  /* text-transform: uppercase; */
  margin-bottom: 0 !important;
}

.media-title-required::after {
  color: #d91c1c;
  content: "*";
  position: relative;
  margin-left: 4px;
}

.media-info {
  text-align: left;
  font: italic normal normal 0.7em "Segoe UI";
  letter-spacing: 0px;
  color: #818181;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.media-label {
  /* margin-right: 35px;
  margin-top: 9px; */
  margin-bottom: 0;
  position: relative;
  width: 100%;
}

.error-msg {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

progress.upload-progress {
  -webkit-appearance: none;
  appearance: none;
}
progress.upload-progress::-webkit-progress-value{
  background:rgb(2, 127, 113);
}
progress.upload-progress::-moz-progress-bar{
  background:rgb(2, 127, 113);
}
.button-image {
  padding-top: 2px; 
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #707070;    
  font-size: 12px;  
  color: #333333;
  width: 121px;
  height: 25px;  
  text-align: center;
  background-color: #ffffff;
}

.img-profile {
  width: 125px;
  height: 125px;
  object-fit: cover;
}

.img-error-label {
  font-size: 12px;
  margin: 5px 0 0 0;
  color: #e84d0e;
}