.translation-form .nav-link {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #dee2e6;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}

.translation-form .nav-link,
.translation-form .nav-link.active,
.translation-form .nav-link:focus,
.translation-form .nav-link:hover {
  color: #333333 !important;
  outline: none;
}

.translation-form .nav-link.active {
  background-color: #ffffff;
  color: #333333;
}

.translation-form .translation-form-content {
  min-height: 120px;
  z-index: 1;
}

.translation-form .translation-tab-container {
  z-index: 2;
}

.translation-form .translation-tab-container .dropdown-toggle {
  text-align: left;
}

.translation-form .translation-tab-container .dropdown-toggle::after {
  float: right;
  margin-top: 9px;
}

@media (max-width: 575px) {
  .translation-form .translation-form-content {
    margin-left: 7px;
    margin-right: 7px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .translation-form .nav-link {
    border-top: 0px;
    border-bottom-width: 0px;
    border-radius: 0px;
    min-width: 100%;
    background-color: white !important;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
  }
  .translation-form .nav-link:last-child {
      border-bottom-width: 1px;
      border-bottom-right-radius: 0.40rem;
      border-bottom-left-radius: 0.40rem;
  }
  .translation-form .nav.nav-pills {
    display: none;
    position: absolute;
    left: 7px;
    right: 7px;
    z-index: 1000;
    border-bottom-right-radius: 0.40rem;
    border-bottom-left-radius: 0.40rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
  }
  .translation-form .translation-tab-container .dropdown-toggle {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
.grey { background-color: #ECECEC; }
.btn {
  position: relative;
}
.ic-select {
  width: 10px;
  position: absolute;
  right: 12px;
  margin-top: 0;
}
.ic-select-up {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (min-width: 576px) {
  .translation-form .translation-form-content {
    margin-left: -9px;
    border-top-left-radius: 0px;
  }
  .translation-form .nav-link {
    border: 1px solid #dee2e6;
    margin-bottom: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .translation-form .nav-link.active {
    border-right: 0px;
  }
  .translation-form .translation-tab-container .dropdown-toggle {
    display: none;
  }
  .translation-form .nav.nav-pills {
    display: flex !important;
  }
  .translation-tab-container {
    padding-bottom: 3rem !important;
  }
}
