.button
  &:hover
    background-color: #fff !important

.divider
  border: 1px solid #d3d3d3

.ancillary_fee
  .wrapper_header
    padding: 0 25px
    display: flex
    justify-content: space-between
    align-items: center

    .wrapper_select
      display: flex
      align-items: center

    .select
      margin: 0 0 0 20px

.mark_up, .service_fee
  padding: 0 25px

  .wrapper_header
    padding: 0 10px
    display: flex
    justify-content: space-between
    align-items: center

    .wrapper_select
      display: flex
      align-items: center

    .select
      margin: 0 0 0 20px

  .box_information
    width: 98%
    margin: 0 auto
    background: #f5f5f5
    box-shadow: 0px 3px 6px #00000029
    border-radius: 8px

.manage_corporate_card
  .card
    overflow: auto
    box-shadow: none

  .header_card_corporate
    background: #F8F8F8

.credit_limit
  .master_credit_limit
    padding: 0 27px

    .wrapper
      display: flex
      align-items: center

    .box
      background: #F3F4F4 0% 0% no-repeat padding-box
      border-radius: 8px
      box-shadow: none

    .text
      border-bottom: 1px solid #D3D3D3

.import_database_employee
  .icon_download
    background: grey !important
    width: 18px
    height: 18px

.invoice_settings

.assign-team

.assign_team_modal
  .modal-dialog
    width: 550px
    .modal-content
      height: 300px

.corporate_rating
  .card-body
    padding: 15px 22px

  .react-datepicker-wrapper
    width: auto

  .date
    width: 126px
    border-radius: 8px
    border: 1px solid #D3D3D3

.settings
  .helper_text
    font-size: 12px
    font-weight: 400
    color: #818181
    margin-right: 10px

  .card-body
    padding: 15px 22px

  .trash_icon
    position: absolute
    transform: translate(-50%,-50%)
    top: 50%
    right: 30px
    cursor: pointer

  .divider
    border-bottom: 1px solid #ced4da
    margin: 20px 0

.service_fee
  .box_information
    width: 98%
    margin: 0 auto
    padding: 20px 0
    background: #f5f5f5
    box-shadow: 0px 3px 6px #00000029
    border-radius: 8px

.modal_service_fee
  @media screen and (min-width: 576px)
    .modal-dialog
      max-width: 650px

.other_information
  .wrapper
    width: 100px
    height: 100px
    border-radius: 8px
    background-color: #e5e5e5

  .default
    width: 16px
    height: 16px
    opacity: 0.4

  .image_wrapper
    width: 100px
    height: 100px
    border-radius: 8px
    background-color: #e5e5e5
    object-fit: contain

.ancillary_fee, .credit_limit, .service_fee
  .card
    border: none

  .tabs
    :global
    .nav-item
      padding: 14px 42px !important
    .tabs-text
      font-size: 14px
    .active
      color: #027F71 !important
    .nav-item
      box-shadow: 0px 3px 6px -2px #00000029

.tooltips
  display: inline-block
  position: relative
  box-sizing: border-box
  padding-left: 0.25em
  padding-right: 0.25em
  vertical-align: top
  overflow: visible
  white-space: nowrap

  &::before
    display: block
    width: 1.5em
    height: 1.5em
    position: relative
    top: -3px
    color: #000
    background: #fff
    border-radius: 50%
    content: "!"
    border: 1px solid #9A9A9A
    line-height: 1.3em
    /*Increase font-size to increase button size*/
    font-size: 0.6em
    vertical-align: middle
    text-align: center
    font-family: Times New Roman

/* Show the tooltip text when you mouse over the tooltip container */

.tooltips
  &:hover
    .tooltiptext
      display: block

.title
  font-size: 15px
  font-weight: 600
  color: #333

.select_year
  border: none
  background: none
  font-family: 'Segoe UI', sans-serif
  font-size: 15px
  color: #333
  font-weight: 900
  margin-left: 5px
  outline: none
  cursor: pointer

  &:focus, &:hover
    border: none
    outline: none

.manage_corporate_date
  width: max-content
  height: auto
  padding-top: 0 !important

  .wrapper-helper-button
    position: absolute
    right: 35px
    bottom: 27px
    display: flex
    justify-content: flex-end
    align-items: center

    .wrapper_reset
      display: flex
      cursor: pointer
      justify-content: flex-start
      align-items: center

    .reset
      font-size: 13px
      color: #1E83DC
      font-weight: 400
      margin: 0

    .button_apply
      border-radius: 6px
      margin-left: 20px
      padding: 8px 37px

  .react-datepicker
    background: #fff
    box-shadow: 0px 3px 6px #00000029
    border-radius: 8px
    border: none
    padding: 20px 15px 70px

    .react-datepicker__triangle
      &::after,&::before
        content: none

    .react-datepicker__navigation--next
      background: url('../../../assets/icons/arrow-right.svg') no-repeat fixed center
      background-size: 12px 12px

    .react-datepicker__navigation--previous
      background: url('../../../assets/icons/arrow-left.svg') no-repeat fixed center
      background-size: 12px 12px

    .react-datepicker__header
      background-color: #fff
      border: none
      position: unset

      .react-datepicker__current-month
        font-family: 'Segoe UI', sans-serif
        font-size: 15px
        color: #333
        font-weight: 900
        text-transform: uppercase

      .react-datepicker__day-names
        margin-top: 24px

    .react-datepicker__day
      font-family: 'Segoe UI', sans-serif
      font-size: 13px
      color: #4a4a4a
      margin: 0 5px 10px

    .react-datepicker__day-name
      font-family: 'Segoe UI', sans-serif
      font-size: 11px
      color: #4a4a4a
      margin: 0 5px

    .react-datepicker__day--today
      font-weight: 900
      color: #000
      background-color: unset

    .react-datepicker__day--selected
      color: #fff !important

    .react-datepicker__day--in-selecting-range
      background-color: rgba(33, 107, 165, 0.5) !important

    .react-datepicker__day--range-start, .react-datepicker__day--range-end
      background-color: #0088FF
      border-radius: 5px
      color: #fff !important

    .react-datepicker__day--in-range
      &:not(.react-datepicker__day--range-start, .react-datepicker__day--range-end)
        box-sizing: content-box
        margin: 0 0 10px
        padding: 0 5px 0
        background-color: #cde7ff
        border-radius: 0

        &:first-child
          border-top-left-radius: 5px
          border-bottom-left-radius: 5px

        &:last-child
          border-top-right-radius: 5px
          border-bottom-right-radius: 5px

    .react-datepicker__month-container
      position: relative

      .react-datepicker__month, .react-datepicker__header
        margin-right: 1rem

      &:last-child
        &::before
          content: ''
          border-left: 1px solid #CECECE
          position: absolute
          height: 75%
          left: 0
          top: 19%

        .react-datepicker__month, .react-datepicker__header
          margin-left: 1rem

.upload_document
  .button_upload
    padding: 5px 13px
    height: 34px
    border-radius: 6px
    background-color: #027F71
    font-size: 13px
    font-weight: 500
    color: #fff
    display: flex
    justify-content: center
    align-items: center

