.button
  &:hover
    background-color: #fff !important

.ancillary_fee
  .wrapper_header
    padding: 0 25px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px

    .wrapper_select
      display: flex
      align-items: center

    .select
      margin: 0 0 0 20px

  .divider
    margin: 10px 0 20px
    border: 1px solid #d3d3d3

