.icon-tax-fee {
  color: #999;
}

.booking-icon-info {
  margin: auto 0;
  transform: scale(1.2);
  padding: 10px 4px;
}

.booking-wrapper {
    display: flex;
  p {
    margin: auto 0;
  }
  span {
    margin: auto 0;
  }
}