.main-header {
  padding-top: 18px;
  padding-bottom: 24px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
}


.img-avatar {
  width: 40px;
  margin-top: -8px;
  display: inline;
  border: 3px solid #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(102, 102, 102, 0.5);
}

.navbar .dropdown-item {
  color: #4d4d4d;
  font-size: 14px;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
  background-color: transparent;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar-img {
  width: 180px;
  height: 40px;
  display: inline-block;
  margin-top: -7px;
}
@media (max-width: 765px) {
  .navbar-img {
    width: 120px;
    height: 30px;    
  }
}
.navbar-icon {
  width: 16px;
}
.navbar-menu {   
  width: 32px;
  height: 30px;  
}
@media (max-width: 765px) {
  .navbar-menu {   
    width: 24px;
    height: 24px;  
  }
}