.sidebar {
  margin-top: 18px;
}
.sidebar .nav-item a > p {
  font-size: 14px;
}

.sidebar .nav-item a > p > i.right {
  margin-top: 3px;
}

.sidebar .nav-link img {
  margin-right: 6px;
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item:hover > .nav-link,
[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link:focus {
  background-color: transparent;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:hover,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:focus {
  background-color: transparent;
}

[class*="sidebar-dark-"] .sidebar a {
  color: #ffffff;
  font-weight: bold;
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item.menu-open > .nav-link {
  background-color: #fbc301;
}

[class*="sidebar-dark-"] {
  background-color: rgb(2, 127, 113);
  opacity: 0.85;
}
.nav-sidebar .menu-open > .nav-link i.right, .nav-sidebar .menu-is-opening > .nav-link i.right {
  transform: none;
}
