.sidebar {
  margin-top: 18px;
}
.sidebar .nav-item a > p {
  font-size: 14px;
}

.sidebar .nav-item a > p > i.right {
  margin-top: 3px;
}

.nav-sidebar > .nav-item > .nav-link p {
  margin-left: 6px !important;
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item:hover > .nav-link,
[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link:focus {
  background-color: transparent;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:hover,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:focus {
  background-color: transparent;
  color: #fbc301;
}

[class*="sidebar-dark-"] .sidebar a {
  color: #ffffff;
  font-weight: bold;
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item.menu-open > .nav-link {
  background-color: #fbc301;
}

.main-sidebar{
  background-color: rgb(2, 127, 113);
}
.main-sidebar:hover {
  opacity: 0.9;
}
.nav-sidebar .menu-open > .nav-link i.right, .nav-sidebar .menu-is-opening > .nav-link i.right {
  transform: none;
}
.nav-sidebar .nav-item > .nav-link {
  padding: 0.4rem 1rem;
}
.nav-treeview .nav-item > .nav-link {
  padding-top: 5px;
  padding-bottom: 5px;
  width: calc(250px - 26px - 0.5rem * 2) !important;
}
.nav-treeview > .nav-item {
  padding-left: 26px !important;
}
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link {
  color: #ffffff;
}
