.book-card {
  background: #fff;
}

.flight-book-tabs {
  background-color: #fff !important;
}

.flight-book-tabs .nav-link {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 2px 6px 6px #00000029 !important;
  background-color: #e5e5ea !important;
  color: #333333 !important;
  font-weight: bold;
}

.flight-book-tabs .nav-link.active {
  background-color: #8e95b0 !important;
  color: #fff !important;
  border-top: none !important;
  font-weight: 600;
  box-shadow: 2px 4px 6px #00000029 !important;
}

.flight-book-tabs a {
  height: 30px;
  padding-top: 0.1rem;
}

.flight-book-tabs a:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
} 

.flight-book-tabs a:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.form-with-label {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.form-with-label__suggest-icon {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 10;
}

.form-with-label__title {
  position: absolute;
  color: #000;
  z-index: 1;
  font-size: 12px;
  padding: 10px 20px;
}

.routes-sm .form-with-label__title {
  font-size: 10px;
}

.form-with-label__title .label-required:after {
  color: #d91c1c;
  content: "*";
  position: relative;
  margin-left: 2px;
}

.flight-pref {
  border: 1px solid #707070;
  border-radius: 2px;
  padding: 7px;
  font-size: 12px;
}

.flight-pref__route {
  font-weight: 600;
  margin-right: 5px;
}

.flight-pref__date {
  margin-right: 5px;
}

.airport-suggestion-subtext {
  margin-left: 1.65rem !important;
}

.passenger-popover {
  transform: translate(-50%, -50%);
  width: 14rem;
}

.recent-flight-title {
  font-size: 12px;
  color: #31394D;
}

.recent-flight-clear-all {
  text-decoration: underline;
  font-weight: 600;
}

.book-card .nav-tabs .nav-link {
  border-right: 0.5px solid #E5E6EA;
  border-left: 0.5px solid #E5E6EA;
}

.book-card .nav-tabs .nav-link:last-child {
  border-right: 1px solid #E5E6EA;
}

.accordion .card {
  display: flex;
  flex-direction: column-reverse;
}

.sublabel-traveller {
  color: #888888;
  font-size: 10px;
}

.traveler-select-menu {
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #D3D3D3;
  border-radius: 0px 0px 8px 8px;
}

.new-guest-traveler {
  color: #e84d0e;
  text-align: center;
  font-size: 15px;
  border-top: 1px solid #D3D3D3;
  padding: 10px;
}

.trip-date-sm-container {
  width: 160px;
}

.trip-date-md-container {
  width: 220px;
}

.traveller-sm .form-with-label, .trip-date-sm .form-with-label {
  font-size: 0.8rem;
}

.traveller-sm .form-with-label__title, .trip-date-sm .form-with-label__title, .room-container .form-with-label__title {
  font-size: 10px;
}

.traveller-container {
  width: 280px;
  margin-bottom: 10px;
}

.traveller-container-guest {
  width: 140px;
  margin-bottom: 10px;
}

.room-container {
  width: 90px;
  margin-bottom: 10px;
}

.room-container .form-with-label__suggest-icon {
  bottom: 7px;
}

.hotel-destination-container {
  width: 300px;
  margin-bottom: 10px;
}

.traveller-container .form-with-label__suggest-icon {
  bottom: 15px;
}

.traveller-container.traveller-sm {
  width: 120px;
}

.traveller-container.traveller-sm .form-with-label__suggest-icon {
  bottom: 7px;
}

/*card-header == <Accordion.Toggle/>*/
div[class=”card-header”] .accordion-arrow {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
/* When Accordion.Toggle is clicked, the class “show” is added to Accordion.Collapse when it opens */
div[class~=”show”] + div[class=”card-header”] .accordion-arrow {
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.traveler-title-detail {
  font-size: 10px;
}
/* react auto suggest */
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 50px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 0;
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.routes-sm .react-autosuggest__input {
  width: 170px;
  font-size: 10px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 320px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 10000;
  overflow-y: unset;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.routes-sm .react-autosuggest__suggestions-container--open {
  position: fixed;
  top: 352px;
}

/* React MultiDatePicker */
.book-trip-datepicker .rmdp-week-day {
  color: #333333;
  font-weight: 600;
}

.book-trip-datepicker .rmdp-arrow {
  border: solid #333333;
  border-width: 0 2px 2px 0;
}