.book-card {
  background: #fff;
}

.flight-book-tabs {
  background-color: #fff !important;
}

.flight-book-tabs .nav-link {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 2px 6px 6px #00000029 !important;
  background-color: #e5e5ea !important;
  color: #333;
}

.flight-book-tabs .nav-link.active {
  background-color: #8e95b0 !important;
  color: #fff !important;
  border-top: none !important;
  font-weight: 600;
  box-shadow: 2px 4px 6px #00000029 !important;
}

.flight-book-tabs a {
  height: 30px;
  padding-top: 0.1rem;
}

.flight-book-tabs a:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
} 

.flight-book-tabs a:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.form-with-label {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.form-with-label__suggest-icon {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 10;
}

.form-with-label__title {
  position: absolute;
  color: #000;
  z-index: 1;
  font-size: 12px;
  padding: 10px 20px;
}

.form-with-label__title .label-required:after {
  color: #d91c1c;
  content: "*";
  position: relative;
  margin-left: 2px;
}

.flight-pref {
  border: 1px solid #707070;
  border-radius: 2px;
  padding: 7px;
  font-size: 12px;
}

.flight-pref__route {
  font-weight: 600;
  margin-right: 5px;
}

.flight-pref__date {
  margin-right: 5px;
}

.airport-suggestion-subtext {
  margin-left: 1.65rem !important;
}

.passenger-popover {
  transform: translate(-50%, -50%);
  width: 13rem;
}

.recent-flight-title {
  font-size: 12px;
  color: #31394D;
}

.book-card .nav-tabs .nav-link {
  border-right: 0.5px solid #E5E6EA;
  border-left: 0.5px solid #E5E6EA;
}

.book-card .nav-tabs .nav-link:last-child {
  border-right: 1px solid #E5E6EA;
}

.accordion .card {
  display: flex;
  flex-direction: column-reverse;
}

/*card-header == <Accordion.Toggle/>*/
div[class=”card-header”] .accordion-arrow {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
/* When Accordion.Toggle is clicked, the class “show” is added to Accordion.Collapse when it opens */
div[class~=”show”] + div[class=”card-header”] .accordion-arrow {
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

/* react auto suggest */
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 50px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 320px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}