// nav side section
.create-new-btn {
  color: #e84d0e;
  font-size: 14px;
  text-align: center;
  padding: 8px;
  display: flex;
  margin: 0 auto;
  span {
    padding: 1px 10px;
  }
}

// destination restriction section
.destination-title {
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 14px;
    font-weight: normal;
    padding: 8px 0;
    border-bottom: 1px solid #d3d3d3;
  }
}

// preferred hotel chains section
.preferred-hotel-title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #d3d3d3;
}
.preferred-hotel-body {
  display: flex;
  span {
    font-size: 15px;
    font-weight: bold;
  }
  .icon {
    margin: 4px;
  }
}

// miscellaneous configuration section
.misc-title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #d3d3d3;
}
.misc-wrapper {
  display: flex;
  padding-top: 20px;
  h5 {
    font-size: 15px;
    font-weight: bold;
    margin: 6px;
  }
  p {
    font-size: 14px;
    margin: 4px 0;
  }
  h4 {
    font-size: 14px;
  }
}
.misc-body {
  padding-left: 20px;
}
.misc-text {
  display: flex;
  h5 {
    font-size: 15px;
    margin: auto 0;
  }
  span {
    margin: auto 0;
  }
  input {
    max-width: 70px;
    border-radius: 10px;
    border: 1.5px solid #b4b4b4;
    margin: 10px;
    padding: 5px 0;
  }
  p {
    margin: auto 0;
  }
  .icon {
    margin: auto 8px;
  }
}
.misc-icon-info {
  margin: auto 0;
  transform: scale(1.2);
  padding: 10px 4px;
}

// travel policy document section
.travel-policy-title {
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 14px;
    font-weight: normal;
    padding: 8px 0;
    border-bottom: 1px solid #d3d3d3;
  }
}
.travel-policy-body {
  border-bottom: 1px solid #b4b4b4;
  margin-bottom: 24px;
  padding-bottom: 8px;
  h3 {
    font-size: 16px;
    font-weight: bold;
  }
  u{
    color: #3e40ae;
    font-weight: 600;
  }
}
.policy-class-modal {
  h6 {   
    font-size: 14px;
    font-weight: bold;
    background-color: #F3F3FB;
    padding: 12px;
    border-radius: 12px;
  }
  tr{
    th{
      border: 1px solid #d9dfe7;
      padding: 8px;
    }
  }
  tr{
    td{
      border: 1px solid #d9dfe7;
      padding: 8px;
    }
  }
}
.hotel-class-modal {
  max-width: 200px;
  padding-left: 25%;
}
.staff-and-manager-tooltip {
  display: flex;
  width: 30vw;
  height: auto;
  background-color: #F3F3FB;
  color: black;
}
.policy-title {
  background-color: #F3F3FB;
  border-radius: 8px 8px 0 0;
  padding: 14px;
  h5 {
    font-size: 16px;
    font-weight: bold;
  }
}