.input-group-with-text input.form-control {
  border-right-width: 0px;
}

.input-group-with-text input.form-control:focus {
  outline: none;
  border-color: #ced4da;
}

.input-group-with-text .input-group-text i.fa,
.input-group-with-text .input-group-text i.fas {
  color: #ced4da;
}

.input-group-with-text .input-group-text {
  background-color: #ffffff;
}

.raquo-down {
  font-size: 20px;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
  display: inline-block;
}

button.advanced-options-btn,
button.advanced-options-btn:focus,
button.advanced-options-btn:hover,
button.advanced-options-btn:active {
  line-height: 20px;
  color: #212529;
  font-weight: bold;
}

.btn-table-action {
  background-color: #5e5e5e;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: inline-block;
  margin: 1px 8px 0px 0px;
}

.btn-table-action:hover,
.btn-table-action:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.btn-table-action img {
  display: block;
  width: 30px;
  height: 30px;
  margin: 4px;
}

.btn-table-action-reset {
  position: absolute;
  top: 5px;
  right: 10px;
}

.btn-table-action-dropdown,
.btn-table-action-dropdown:focus,
.btn-table-action-dropdown:active {
  background-color: #027F71 !important;
  color: #ffffff !important;
  min-width: 150px;
  text-align: left;
}
.btn-table-action-dropdown::after {
  float: right;
  margin-top: 10px;
}

.advanced-filter {
    background-color: #f5f7f9;
    border: 1px solid #ced3db;
}
.text-filter{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight:bold;
  color: #333333;
}
.text-label-filter{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight:500;
  color: #333333;
}
.text-input-select{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight:500;
  color: #5E5E5E;  
  margin-left: -2px;
}
