.font-default {
  font-weight: 400;
  color: #333;
}

.size-15 {
  font-size: 15px;
}

.size-14 {
  font-size: 14px;
}

:root {
  --star-size: 12px;
  --star-color: #fff;
  --star-background: #fc0;
  --accent: hsl(230deg 100% 20%);
  --size: 2.5rem;
  --duration: 1s;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.Stars::before {
  content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.2px
}

.spinner {
  width: var(--size);
  aspect-ratio: 1;
  display: grid;
  mask: conic-gradient(from 22deg, #0001, #000);
  animation: spin var(--duration) steps(8) infinite;
}

.spinner,.spinner::before {
  --gradient: linear-gradient(var(--accent) 0 0);
  background: var(--gradient) 50%/34% 8% space no-repeat,
    var(--gradient) 50%/8% 34% no-repeat space;
}

.spinner::before {
  content: "";
  transform: rotate(45deg);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}