.content-wrapper {
  background-color: #ffffff;
}
.bg-dark-grey {
  background-color: #5e5e5e !important;
  color: #ffffff !important;
}
.bg-dark-green {
  background-color: #027f71 !important;
  color: #ffffff !important;
}

.border-dark-grey {
  border: 1px solid #707070 !important;
}

select.bg-dark-grey > option {
  background: #027f71 !important;
  color: #6c757d !important;
}

.content-wrapper .content {
  overflow-x: hidden !important;
}

.bg-block-card {
  background-color: #f5f7f9;
}

.form-group label {
  font-weight: normal !important;
}
.form-group.required .label-required:after {
  color: #d91c1c;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top: 7px;
}
.input:checked {
  background: #027f71;
}

@media (max-width: 577px) {
  .float-right-sm {
    float: right !important;
  }
  .float-left-sm {
    float: left !important;
  }
}

.hint {
  color: #6c757d;
  margin-left: 4px;
}

.view-only .form-control[disabled] {
  background-color: #ffffff;
}

.invalid-feedback::before {
  content: "\f071";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 4px;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none;
}

.img-edit-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.table-image {
  width: auto;
  height: auto;
  max-width: 80px;
  max-height: 40px;
}

/* Style TEXT */
.text-sub-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 32px;
}
.text-label-input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #333333;
}
.text-note {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: italic;
  color: #333333;
}
.text-note-danger {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: italic;
  color: #d91c1c;
}
