// nav side section
.create-new-btn {
  color: #e84d0e;
  font-size: 14px;
  text-align: center;
  padding: 8px;
  display: flex;
  margin: 0 auto;
  span {
    padding: 1px 10px;
  }
}

// destination restriction section
.destination-title {
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 14px;
    font-weight: normal;
    padding: 8px 0;
    border-bottom: 1px solid #d3d3d3;
  }
}

// preferred hotel chains section
.preferred-hotel-title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #d3d3d3;
}
.preferred-hotel-body {
  display: flex;
  h5 {
    font-size: 15px;
    margin: 10px;
    font-weight: bold;
  }
}

// miscellaneous configuration section
.misc-title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #d3d3d3;
}
.misc-wrapper {
  display: flex;
  padding-top: 20px;
  h5 {
    font-size: 15px;
    font-weight: bold;
    margin: 6px;
  }
  p {
    font-size: 14px;
    margin: 4px 0;
  }
  h4 {
    font-size: 14px;
  }
}
.misc-body {
  padding-left: 20px;
}
.misc-text {
  display: flex;
  h5 {
    font-size: 15px;
  }
}

// travel policy document section
.travel-policy-title {
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 14px;
    font-weight: normal;
    padding: 8px 0;
    border-bottom: 1px solid #d3d3d3;
  }
}